*{
	font-family:Ubuntu;
	margin-top: 10px
}
body{
 	
    background-image: url(tara.jpg);
    background-size: 100%;
 }

 input{
 	width: 200px;
 	height: 25px;
 }

div{
	background-color: rgba(0%,60%,60%,0.5)
}
.but{
	height: 50px;
}
.aling_right{
	margin-left: 200px;
}
.radio{
	width: 15px;
}